/* =========================== Share Style ============================ */

body {
  font-family: "Mulish", sans-serif;
}

header {
  padding: 50px 135px;
}

.btn-primary {
  padding: 16px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  width: 174px;
  border: 0;
}

/* ================ Nav section ======================== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* nav {
  display: flex;
  justify-content: space-between;
} */

.logo {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo img {
  width: 48px;
  margin-right: 25px;
  height: 56px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 44px;
}
nav li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #424247;
}
.logo-title {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.travel-title {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}

.first-menu {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}

/* ======================= Banner Style =============== */
.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  text-align: center;
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
}

.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-top: 106px;
}
.banner-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.find-section {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 16px;
}

.banner-information {
  width: 700px;
  margin: 0 auto;
  padding: 106px 185px;
}

.find-section input {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
}

.find-section select {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  padding-right: 14px;
}
.toggle {
  font-size: 30px;
  color: white;
  display: none;
  z-index: 1;
}
/* ===========our-popular-tours=================== */
main {
  padding: 50px 135px;
}
.our-popular-tours {
  display: flex;
  margin-top: 100px;
  gap: 100px;
  align-items: center;
}
.our-popular-tours-information {
  width: 100%;
}
.our-popular-tours-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.our-popular-tours-information p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  line-height: 26px;
}

.our-popular-tours-information li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-left: 36px;
  line-height: 26px;
}

/* ===================destination-images===================== */
.destination {
  margin-top: 100px;
}
.destination-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.destination-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}
.destination-images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 0;
}

.destination-images img {
  display: block;
}

.destination-images span {
  z-index: 100;
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;

  opacity: 0.7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-collage {
  flex: 14.28%;
  position: relative;
}

.why-choose-us {
  margin-top: 100px;
}

.choose-us-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.choose-us-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 24px;
}
.box {
  width: 573px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
}

#box-2 {
  background: rgba(41, 206, 246, 0.05);
}
#box-3 {
  margin-left: 50%;
}
.box h4 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.newsletter-form {
  width: 474px;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.newsletter-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}

.newsletter form {
  display: flex;
  flex-direction: column;
}
.newsletter input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 16px;
  border: 0;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}

#btn-sub-primary {
  width: 100%;
  margin-top: 16px;
}
.discount-btn {
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  text-align: center;
  position: absolute;
  right: 12px;
  bottom: 55px;
  transform: rotate(-19.628deg);
}
.discount-btn p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
}

.discount-btn h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin-top: 0;
}
.newsletter-img {
  position: relative;
}

footer {
  padding: 110px 284px;
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.footer-logo img {
  width: 40px;
  height: 46.673px;
}
.footer-icon i {
  /* width: 60px; */
  padding: 20px;
}
.footer-icon {
  margin-bottom: 40px;
  margin-top: 40px;
}
.copy-right {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
  margin-top: 50px;
}

.deals {
  background-image: url("/Images/Group\ 39.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  height: 500px;
  margin-top: 100px;
}
.deals-information {
  padding: 50px;
  width: 579px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  position: absolute;
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.deals-information ul {
  display: flex;
  margin-right: 24px;
  justify-content: space-between;
}

.deals-information li {
  list-style: none;
}
.deals-information li i {
  color: rgba(255, 84, 0, 1);
}
.deals-2 {
  background-image: url("/Images/Group\ 40.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  height: 500px;
  margin-top: 100px;
}
.deals-information-2 {
  padding: 50px;
  width: 579px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  position: absolute;
  margin-left: 113px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.deals-information-2 ul {
  display: flex;
  margin-right: 24px;
  justify-content: space-between;
}

.deals-information-2 li {
  list-style: none;
}
.deals-information-2 li i {
  color: rgba(255, 84, 0, 1);
}

.deals-header {
  width: 643px;
  margin: 0 auto;
  text-align: center;
}
.deals-header-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.deals-header-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.deals-section{
  margin-top: 100px;
}
.deals-title{
  color: #131318;
font-size: 24px;
font-weight: 800;
}
.deals-price{
  color: #FF5400;
font-size: 20px;
font-weight: 800;
}
.perfect-place {
  display: flex;
  margin-top: 100px;
  gap: 100px;
  align-items: center;
}
.perfect-place-information {
  width: 100%;
}
.perfect-place-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.perfect-place-information p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  line-height: 26px;
}

.perfect-place-information li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-left: 36px;
  line-height: 26px;
}
/* ================= Mobile Responsive ================= */
@media screen and (max-width: 600px) {
  .toggle {
    display: block;
  }
  header {
    padding: 10px;
  }
  .banner {
    padding: 10px;
  }
  .logo img {
    width: 30%;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    /* flex-direction: column; */
    margin-top: -900px;
  }
  /* nav.active {
    margin-top: 0;
  } */
  .banner-description {
    padding: 10px;
    text-align: center;
  }
  main {
    padding: 20px 20px;
  }
  .find-section {
    flex-direction: column;
    margin: 0 auto;
  }
  .banner-information {
    padding: 20px;
    width: 90%;
  }
  .find-section {
    text-align: center;
  }
  .find-section input {
    width: 90%;
  }
  .find-section select {
    width: 100%;
  }
  #banner-btn {
    width: 85%;
  }
  .our-popular-tours {
    flex-direction: column;
    padding: 10px;
  }
  .our-popular-tours-information {
    max-width: 100%;
  }
  .destination-images {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  .destination-images img {
    width: 100%;
  }
  .our-popular-tours img {
    width: 100%;
  }
  .box {
    width: 100%;
    padding: 10px;
  }
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
  #box-3 {
    margin-left: 0;
  }
  .newsletter {
    flex-direction: column;
    padding: 10px;
  }
  .newsletter-form {
    width: 80%;
  }
  .newsletter-img {
    max-width: 100%;
    margin-top: 20px;
  }
  .newsletter-imgage {
    width: 100%;
  }
  .discount-btn {
    border-radius: 16px;
    background: #ff5400;
    width: 214.023px;
    height: 79.268px;
    text-align: center;
    position: absolute;
    right: 12px;
    bottom: 45px;
    transform: rotate(-19.628deg);
  }
  .discount-btn p {
    color: #fff;
    font-size: 15.854px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .discount-btn h3 {
    color: #fff;
    font-size: 21.138px;
    font-weight: 800;
    margin-top: 0;
  }
  .newsletter-img {
    position: relative;
  }
  footer {
    padding: 110px 44px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
  }

  .deals-information {
    margin-left: 3%;
    width: 70%;
    padding: 10px;
    text-align: center;
  }
  .deals-information-2 {
    margin-left: 3%;
    width: 70%;
    padding: 10px;
    text-align: center;
  }
  .deals-header {
    width: 80%;
    text-align: center;
  }
  .perfect-place {
    flex-direction: column;
    padding: 10px;
  }
  .perfect-place img {
    width: 100%;
  }
  .our-popular-tours img {
    width: 100%;
  }
}
